@import "~bootstrap/scss/bootstrap";

body {
    height: 100%;
    margin: 0;
    background-image: linear-gradient(rgb(31, 36, 31), rgb(175, 238, 209));
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}